---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description= "Who I am, what I do, and why this blog exists."
	pubDate={new Date('May 28 2025')}
	heroImage="/about-lego.jpg"
	imageCredit='Photo by <a href="https://unsplash.com/@danielkcheung?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel K Cheung</a> on <a href="https://unsplash.com/photos/white-stormtroopers-minifig-ZqqlOZyGG7g?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>'
>
<>
<p>Hi, I'm Shane — a senior software developer with over a decade of experience building web-based systems, primarily in .NET and Azure. I've worked across the private healthcare space and beyond, with a particular interest in APIs, integration, automation, and solving the kind of problems that don’t always show up in tutorials.</p>

<p>I started this site as a quiet space to think out loud — mostly about tech, sometimes about life. It's part documentation, part reflection, part playground.</p>

<p>If you're here looking for clean, practical ideas or just curious about what it's like being a developer who still thinks “simple” is underrated — you're in good company.</p>

<p>Outside of code, I'm passionate about Lego, growth, and tennis. I sometimes write about those too (though not necessarily in that order).</p>

<p>You can find me on:</p>
<ul>
  <li><a href="https://x.com/shane_kingsley" target="_blank">X / Twitter</a></li>
  <li><a href="https://linkedin.com/in/shane-kingsley-88095650/" target="_blank">LinkedIn</a></li>
</ul>

<p>Thanks for stopping by.</p>
</>
</Layout>


